/*------------------------------------------------------------------
[Master Stylesheet]

Projecto: leads
Creado: 18/10/2017
Creado por : Romina
Ultimo cambio: 18/10/2017
-------------------------------------------------------------------*/
/* ############################################ GENERAL ############################################ */
*{
  font-family:'Raleway', sans-serif;
}

/* ############################################ WIZARD ############################################ */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #e41e25;
}
.btn.btn-primary.btn.btn-primary {
  color: #fff;
  background-color: #e41e25;
  border-color: #e41e25;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:active:focus{
  background-color: #818181;
  border-color: #818181; 
  outline: none;
}
a{
  color: #e41e25;
  text-decoration: none;
}
.container{
  max-width: 800px;
  background-color:#E5E7E9;
  border:2px solid #E5E7E9;
}
.steps{
  width: 100%
  height: 100%;
}
/* ############################################ GRID ############################################ */
#loader img{
  width: 25%;
  height: auto;
  display: block;
  margin:auto;
  margin-top:50px;
  margin-bottom:200px;
}
#loader h1{
  color:#e41e25;
  font-weight: bold;
}
#leadsContent{
  display:none;
}

/* ############################################ GRID ############################################ */
.separador{
	height: 30px;
}
#grid{
	padding-bottom: 20px;
}
.pic{
  position: relative;
}
.overlay{
  transition: all 0.666s;
  -webkit-transition: all 0.666s;
  -moz-transition: all 0.666s;
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  left: 0;
  background-color:rgba(0,0,0,0);
  z-index: 100;
  display: block;
}
.overlay p{
  transition: all 0.666s 0.333s;
  -webkit-transition: all 0.666s 0.333s;
  -moz-transition: all 0.666s 0.333s;
}
.overlay .botonera{
  display: none;
  transition: all 0.666s;
  -webkit-transition: all 0.666s;
  -moz-transition: all 0.666s;
}
.pic:hover > .overlay {
  background-color:rgba(0,0,0,0.5);
}
.pic:hover > .overlay p {
  display: none;
}
.pic.seleccionado:hover > .overlay p {
  display: block;
}
.pic.seleccionado > .overlay{
  background-color:rgba(0,0,0,0.5);
}
.info {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
}
.name{
  width:100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #e41e25;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  color:white;
}
/* ------------------- BOTONES ------------------- */
.botonera button{
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  padding: 0px;
  cursor:pointer;
}
.botonera button i{
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.botonera button:focus, .botonera button:active{
  outline: none !important;
  box-shadow: none;
}
.botonera button i{
  width: 25px;
  height: 25px;
  color:white;
  line-height: 25px;
}
.botonera .btn.izquierdo{
  position: absolute;
  top: 50%;
  left: calc( 50% - 35px);
  transform: translateY(-50%);
}
.botonera .btn.derecho{
  position: absolute;
  top: 50%;
  right: calc( 50% - 35px);
  transform: translateY(-50%);
}
.botonera .btn:hover, .botonera .btn:hover i{
  color:#818181;
  border-color: #818181;
}
.botonera .btn:active, .botonera .btn:active i{
  color:#e41e25;
  border-color: #e41e25;
}
.pic.seleccionado .overlay{
  border:4px solid #e41e25;
}
.pic.seleccionado .overlay .botonera{
  display: none;
}
.pic.seleccionado .name{
  border-radius: 0px;
}
.pic .iconoGrid{
  display: none;
}
.pic.seleccionado .iconoGrid{
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50% -50% -50%);
  color:#e41e25;
  font-size: 40px;
  display: block;
}
.iconoGrid i{
  cursor:pointer;
}
@media screen and (max-width: 768px){
  .separador{
    height: 10px;
  }
  .col-xs-4{
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 570px){
  .name{
    font-size:10px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
@media screen and (max-width: 400px){
  .name{
    font-size:8px;
  }
}
